extends layout

block content
	//div(class="overlay" style="top:500px;")
	//div(class="overlay")
	div(id="game")
		.column(id="col1")
			img(src= "/images/snowflake_p.png")
			img(src= "/images/snowman.png")
			img(src= "/images/panda.png")
			img(src= "/images/snowman.png")
			img(src= "/images/snowflake_p.png")
			img(src= "/images/deer.png")
		.column(id="col2")
			img(src= "/images/snowman.png")
			img(src= "/images/snowflake_p.png")
			img(src= "/images/snowman.png")
			img(src= "/images/panda.png")
			img(src= "/images/pinga_corr.png")
			img(src= "/images/snowflake_p.png")		
			
			
			
		.column(id="col3")
			img(src= "/images/snowman.png")
			img(src= "/images/snowflake_p.png")
			img(src= "/images/deer.png")
			img(src= "/images/snowman.png")
			img(src= "/images/pinga_corr.png")
			img(src= "/images/snowflake_p.png")