extends layout

block content
	div(class="round")
	div(class="overlay top")
	div(class="overlay bottom")
	div(id="game")
		.column(id="col1")
			img(src= "/images/stihl.jpg")
			img(src= "/images/baum.jpg")
			img(src= "/images/moose.jpg")
			img(src= "/images/stihl.jpg")
			img(src= "/images/stihl.jpg")
			img(src= "/images/holzfaeller.jpg")
		.column(id="col2")
			img(src= "/images/stihl.jpg")
			img(src= "/images/moose.jpg")
			img(src= "/images/stihl.jpg")
			img(src= "/images/baum.jpg")
			img(src= "/images/holzfaeller.jpg")
			img(src= "/images/moose.jpg")		
		.column(id="col3")
			img(src= "/images/stihl.jpg")
			img(src= "/images/baum.jpg")
			img(src= "/images/stihl.jpg")
			img(src= "/images/holzfaeller.jpg")
			img(src= "/images/stihl.jpg")
			img(src= "/images/moose.jpg")
