body{
	min-height:1800px;
	margin: 50px !important;
}

.column > img{
	display: inline-block;
	height: 400px;
	width:100%;
	position:absolute;
	top: 0;
	transition: all 0.2s linear 0s;
}

#game{
	margin-left: 50px;
}

#col1{
	left:0px;
}

#col2{
	left:15%;
}

#col3{
	left:30%;
}

.column{
	width: 20%;
	display:inline-block;
	top: 0;
	position:relative;
}

.round{
	position: fixed;
	height: 75%;
	left: 0;
	top: 10%;
	opacity: 0.4;
	width: 100%;
	z-index: 1000;
	background: linear-gradient(#111, white, #111);
}

.overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10000;
}

.overlay.top{
	height: 200px;
	top: 0;
	left: 0;
	background-image: url("/images/holz.jpg");
	background-repeat: repeat;
	box-shadow: 0px 10px 20px #333;
}

.overlay.bottom{
	height: 200px;
	bottom: 0;
	left: 0;
	background-image: url("/images/holz.jpg");
	background-repeat: repeat;
	box-shadow: 0 -10px 20px #333;
}

